html,
body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 600px;
    font-size: 14px;
    font-family: "Mircorsoft Yahei", "PingFang SC";
    position: relative;
}

html,
.cover img,
.contain,
.contain li {
    display: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 1000px;
}

.cover {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 600px;
    background-image: url(assets/bg@2x.png);
    background-size: 100% 100%;
    background-color: #f0f0f0;
}

.cover .title {
    margin: 15% 0 0 45%;
    width: 10%;
}

.cover .desc {
    margin-left: 2%;
    width: 15%;
}

.contain {
    position: relative;
    z-index: 1;
    padding: 5%;
    background-color: #f0f0f0;
}

.contain ul {
    position: relative;
}

.contain .year {
    margin: 3% 0;
    width: 30%;
}

.contain hr {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 5%;
    width: 1px;
    height: auto;
    border: 0;
    background-color: #6fa1fb;
}

.contain li img {
    position: relative;
    margin-left: 4%;
    width: 40%;
}

.contain li p {
    margin-left: 9%;
    padding: 3%;
    background-color: #fff;
    border-radius: 10px;
    text-align: justify;
}
